@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
/* font-family: 'Cormorant Garamond', serif; */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */

/* INICIO HEADER */

.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    background-color: #fff;
    color: black;
    border-bottom: 1px solid transparent;
    background: #fff;
    border-color: transparent;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    padding: 0;
    z-index: 1;
}

.logo {
    width: 70px;
    height: 70px;
    /* margin: 0 7.5px; */
}

.header ul li a {
    color: black;
    /* text-align: right; */
}

.header ul li a.item-active {
    color: #75dab4;
    font-size: 1rem;
    font-weight: bold;
}

.fixed-header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    background-color: black;
    color: black;
    border-bottom: 1px solid transparent;
    background: black;
    border-color: transparent;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    padding: 0;
    z-index: 1;
}

.icono-menu {
    display: none;
}

@media (max-width: 1100px) {
    
/* Estilos para el ícono del Menú  */
.icono-menu{
    /* margin: 40px; */
    display: block;
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 10;
}

.header ul li {
    width: 100%;
}

/* Estilos para el contenedor del menu */
.cont-menu{
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 70px;
    right: 0;
    transition: all .5s ease;
    text-align: center !important;
    justify-content: start !important;
    color: white !important;
    box-sizing: border-box;
    transform: scale(0);
    text-align: center;
}

/* Estilos para agregar en JavaScript */
.active{
    transform: scale(1);
}

.opacity{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
}

/* Estilos para el listado del menú */
.header ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}



.header ul li{
    display: block;
    /* font-size: 1.3rem; */
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
    color: white;
}
.header ul li:hover{
    width: 100%;
    background-color: gainsboro;
    color:#75dab4;
    z-index: 3;
}

.header ul li a {
    color: white;
    text-align: center !important;
}

/* .header ul li a:hover{
    color:#75dab4
} */


  }

/* FIN HEADER */

/* INICIO SECCIÓN PRINCIPAL */

.main-section {
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cont {
    padding-top: 5%;
    padding-bottom: 5%;
}

.cont h6 {
    margin-bottom: 2%;
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #75dab4;
}

.cont h1 {
    margin-bottom: 2%;
    font-size: 6.25rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    color: #fff;
}

.cont h4{
    margin-bottom: 2%;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}



.social-icon {
    margin-top: 5%;
    width: auto;
    height: 25px;
}


.icon {
    padding: 10px;
    margin-left: 5px;
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 25%;
}

@media (max-width: 576px) {
    .cont h1 {
        margin-bottom: 2%;
        font-size: 4rem;
        font-weight: 800;
    }
    .cont h4 {
        margin-bottom: 2%;
        font-size: 2rem;
        font-weight: 400;
    }
  }

/* FIN SECCIÓN PRINCIPAL */

/* INICIO ABOUT */

.about {
    padding: 120px 0;
}
.about-container {
    display: flex;
}

.about-title {
    margin-bottom: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}

.about-subtitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.description {
    padding: 0 15px;
}

.skills {
    padding: 0 15px;
}

.about-description {
    margin-bottom: 2%;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-weight: 200;
    color: gray;
}

.puntos {
    color: #75dab4;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
}

.ui {
    margin: 1.0rem 0;
}

.ui h2 {
    margin-bottom: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

.uibarout {
    width: 100%;
    height: 10px;
    background-color: gainsboro;
}

.uibarin {
    width: 90%;
    height: 10px;
    background-color: #75dab4;
}

.devbarin {
    width: 80%;
    height: 10px;
    background-color: #75dab4;
}

.grbarin {
    width: 88%;
    height: 10px;
    background-color: #75dab4;
}

@media (max-width: 576px) {
    .about-container {
      flex-direction: column;
    }
    .description {
        width: 100% !important;
    }
    .skills {
        width: 100% !important;
    }
    .about-subtitle {
        font-size: 2rem;
    }
  }

/* FIN ABOUT */

/* INICIO SERVICES */

.best {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #75dab4;
}

.serv {
    font-size: 8rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: black;
    text-shadow: 0px 0.5rem gainsboro;

}

.serv-transp {
    position: absolute;
    font-size: 15rem;
    margin: -8rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    opacity: 0.6;
}

.text-center {
    text-align: center;
}

.card-services {
    margin: 5px 0;
    padding: 25px 0;
}

.card-service {
    width: 100%;
    margin: 0 15px;
    padding: 6rem;
    background-color: #efefef;
    color: black;
}

.title-service {
    margin: 25px 0;
}

.description-service {
    padding-top: 5px;
    color: gray;
}

.footer-cards {
    height: 15rem;
    margin-top: -17rem;
    background-color: rgba(0, 0, 0, 0.05)
}

.numbers-container {
    padding: 120px 0;
    margin-bottom: 10rem;
    background-color: rgba(0, 0, 0, 0.05)
}

.count {
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

@media (max-width: 576px) {
    .card-services {
        flex-direction: column;
    }
    .card-service {
      width: 100% !important;
      padding: 1rem;
    }
    .serv-transp{
        display: none;
    }
    .numbers-container .numbers{
        flex-direction: column !important;
    }
    .numbers-container .numbers .card-number{
        margin-bottom: 1.5rem;
        background-color:rgba(0, 0, 0, 0.07);
        border-radius: 15px;
    }
    .best {
        font-size: 1rem;
    }
    .serv {
        font-size: 3rem;
    }
  }

  @media (max-width: 768px) {
    .card-services {
        flex-direction: column;
    }
    .card-service {
      width: 100% !important;
      padding: 1rem;
    }
  }

  @media (max-width: 1200px) {
    .card-services {
        flex-direction: column;
    }
    .card-service {
      width: 100% !important;
      padding: 1rem;
    }
  }
/* FIN SERVICES */

/* INICIO PORTFOLIO */

.card-container {
    width: 100%;
    margin: 25px 5px; 
    height: auto;
    max-width:min-content;
    border: solid 1px #75dab4;
    overflow:hidden;
    border-radius: 5px;
    background-color: #efefef;
}

.card-container h2 {
    color:#75dab4;
}

.second-cantainer {
    padding: 25px;
}

.button-git {
    background-color: #75dab4;
    /* padding: 10px; */
    color: white;
    border: none;
    border-radius: 5px;
    align-self: center;
    inline
}

.icon-git {
    padding: 2px 5px;
    /* margin-left: 5px; */
    width: 55px;
    height: 55px;
    /* background: rgba(255, 255, 255, 0.25); */
    border-radius: 25%;
}

.technologies-list {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    align-items: center; /* Centra los iconos verticalmente */
    padding: 10px;
    gap: 5px; /* Espacio entre los iconos, ajustable según necesidad */
}

.technology-icon {
    width: auto; /* Tamaño reducido de los iconos */
    height: 40px; /* Altura automática para mantener la proporción */
    display: inline-block; /* Asegura que el ícono se maneje como bloque inline */
}

@media (max-width: 576px) {
  .technology-icon {
      width: auto; /* Tamaño reducido de los iconos */
      height: 20px; /* Altura automática para mantener la proporción */
      display: inline-block; /* Asegura que el ícono se maneje como bloque inline */
  }
}

p{
    margin-bottom: 20px;
    text-align: justify;
}

h2{
    margin-bottom: 20px;
}

@media (max-width: 970px) {
    .card-container {
        width: 100%;
        margin: 25px 5px; 
        height: auto;
        max-width:min-content;
        border: solid 1px #75dab4;
        overflow:hidden;
        border-radius: 5px;
        background-color: #efefef;
    }
  }

/* FIN PORTFOLIO */

/* INICIO TESTIMONIALS */

.testimonials {
    margin: 6rem 0;
    background-image: url("../img/pexels-andrea-piacquadio-3777555.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: rgba(179, 73, 73, 0.5); */
    position: relative;
}
.testimonials:before {
    content: "";
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: o;
    left: 0;
}

/* FIN TESTIMONIALS */

.best {
    position: relative;
}

.test {
    margin-bottom: 5rem;
    font-size: 6rem;
    text-transform: uppercase;
    /* letter-spacing: 1.5rem; */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: white;
    position: relative;
}

.container-slide{
    margin: auto;
    background-color: transparent;
    width: 90%;
    /* padding: 30px; */
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  .container-slide  ul {
      display: flex;
      padding: 0;
      width: 300%;
      list-style: none;
      color: white;
      animation: cambio 10s infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in;
  }

  .container-slide li {
      width: 100%;
      list-style: none;
      font-size: 1.5rem;
      line-height: 2;
  }

  .container-slide img {
      margin-top: 2rem;
  }


  @keyframes cambio {
      0% { margin-left: 0; }
      25% { margin-left: 0; }

      35% { margin-left: -100%; }
      60% { margin-left: -100%; }

      75% { margin-left: -200%; }
      100% { margin-left: -200%; }
  }

  
.photo {
    width: 7rem;
    height: 7rem;
    /* background: rgba(255, 255, 255, 0.25); */
    border-radius: 50%;
}


.name-test {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #75dab4;
}

.container-slide h2 {
    font-size: 1.2rem;
}

@media (max-width: 576px) {
    .test {
        /* margin-bottom: 1rem; */
        font-size: 3rem;
    }
    .testimonials .best {
        letter-spacing: 5.5px;
    }
    .container-slide div {
        font-size: 1.5rem;
    }
    .container-slide li {
        line-height: normal;
    }
    .photo {
        width: 5rem;
        height: 5rem;
        /* background: rgba(255, 255, 255, 0.25); */
        border-radius: 50%;
    }
  }

/* BLOG */

.container-blog {
    margin: 75px 0;
    display: flex;
    box-sizing:unset;
    justify-content: space-between; 
}

.card-blog {
    width: 100%;
    margin: 10px 2px;
    border: 2px solid;
    border-radius: 5px;
}

.card-blog-title {
    margin: 20px;
}

.card-blog-text {
    margin: 20px;
    text-align: justify;
}

.primary-blog-card {
    border-color: #39A2DB;
    color: #39A2DB;
}

.secondary-blog-card {
    border-color: #946C00;
    color: #946C00;
}

.danger-blog-card {
    border-color: #F03A5F;
    color: #F03A5F;
}

.card-blog-header {
    max-width: 33%;
    border-bottom: 2px solid lightgrey;
    color: black;
    background-color: #f8f8f8;
}

.img-blog {
    width: 100%;
    background-repeat: no-repeat;
    display:block;
    height: auto;
}

@media (max-width: 576px) {
    .container-blog {
        flex-direction: column;
    }
    .card-blog {
        width: 100%;
        margin: 10px 0px;
        border: 2px solid;
        /* border-radius: 5px; */
    }
  }

/* FIN BLOG */

/* CONTACT */

.container-contact {
    width: 80%;
    margin: auto;
}

.input-container {
    padding: 20px 0;
    margin: 5px;
    width: 100%;
    /* background-color: #39A2DB; */
    border-bottom: 1px solid gray;
}

.input-contact{
    width: 100%;
    display: inline-block;
    border: 0;
    outline: none;
    
}


.contact-button {
    width: 100px;
    background-color: #EDEDED;
    border: 1px solid #EDEDED;
    padding: 10px 5px;
    width: 50px;
    height: 39px;
    overflow: visible;
    box-sizing: border-box;
}

.contact-button-container {
    width: 100px;
    padding: 10px 5px;
    width: 139px;
    height: 39px;
    overflow: visible;
    box-sizing: border-box;
}

.simple-btn {
    height: 50px;
    position: relative;
    padding: 7px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
    font-weight: 300; 
    background-color: transparent;
    border: 1px solid transparent;
}
.simple-btn:after {
    content: '';
    width: 45%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 576px) {
    .container-contact {
        width: 95%;
        flex-direction: column;
    }
  }

/* FIN CONTACT */

/* FOOTER */

.footer-container {
    display: flex;
}

.left-footer-container {
    width: 100%;
    /* height: 500px; */
    background-color: #151921;

}

.right-footer-container {
    width: 100%;
    background-color: #0C0F16;

}

.left-footer-container h3 {
    color: white;
}

.left-footer-container h3 span{
    font-weight: 100;
}

.right-footer-container h3 {
    color: white;
}

.right-footer-container h4 {
    color: white;
}

.right-footer-container .email {
    padding: 15px;
    width: 80%;
    background-color: #0F1219;
    display: inline-block;
}

.right-footer-container .email input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}


.right-footer-container button{
    padding: 15px 30px;
    background-color: #11141B;
    border: none;
    color: #75dab4;
}
@media (max-width: 576px) {
    .footer-container {
        flex-direction: column;
    }
    .left-footer-container {
        width: 100% !important;
    }
    .right-footer-container {
        width: 100% !important;
    }
    .right-footer-container .email {
        padding: 15px;
        width: 60%;
    }
    .photo {
        margin-bottom: 1rem;
    }
  }

/* FIN FOOTER */